.card{
    /*border: black solid 1px;*/
    border-radius: 2px;
    width: 240px;
    height: 260px;
    margin: 20px 10px;
    /*min-width: 24%;*/
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.name{
    height: 25%;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

.price{
    color: #444;
    font-size: 0.9em;
    font-weight: bold;

}

.date{
    color: darkred;
    font-size: 0.8em;
    font-weight: bold;

}